.Form {
    border: none;
    border-bottom: 2px #63474D solid;
    background-color: #63474D;
  }
  
  .Button {
    border: none;
    background-color: #63474D;
    color: #AA8F66;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  
  .Button:hover {
    cursor: pointer;
    filter: brightness(0.5);
  }