.Post {
    background-color: #AA8F66;
    border: 1px solid #AA8F66;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #63474D;
  }
  
  .Heart:hover {
    color: #63474D;
    opacity: 0.5;
  }
  
  .HeartOutline:hover {
    color: #63474D;
  }